<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="connection.url">
			jdbc:mysql://127.0.0.1:3306/test
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">sxgis</property>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="myeclipse.connection.profile">
			HibeTestMySQL
		</property>

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<!-- 自动创建表 -->
		<property name="hbm2ddl.auto">update</property>

		<!-- one n-1 -->
		<!--<mapping class="com.sxgis.hibernate.bean.uni_n_1.Person" /> -->
		<!--<mapping class="com.sxgis.hibernate.bean.uni_n_1.Address" /> -->

		<!-- one 1-1 -->
		<!--<mapping class="com.sxgis.hibernate.bean.uni_1_1.Person" /> -->
		<!--<mapping class="com.sxgis.hibernate.bean.uni_1_1.Address" /> -->

		<!-- one 1-n -->
		<!--<mapping class="com.sxgis.hibernate.bean.uni_1_n.Person" /> -->
		<!--<mapping class="com.sxgis.hibernate.bean.uni_1_n.Address" /> -->

		<!-- one n-n -->
		<!--<mapping class="com.sxgis.hibernate.bean.uni_n_n.Person" /> -->
		<!--<mapping class="com.sxgis.hibernate.bean.uni_n_n.Address" /> -->

		<!-- two 1-1 -->
		<!--<mapping class="com.sxgis.hibernate.bean.bi_1_1.Person" /> -->
		<!--<mapping class="com.sxgis.hibernate.bean.bi_1_1.Address" /> -->

		<!-- two 1-n -->
		<mapping class="com.sxgis.hibernate.bean.bi_1_n.Person" /> 
		<mapping class="com.sxgis.hibernate.bean.bi_1_n.Address" /> 

		<!-- two n-n -->
		<!--<mapping class="com.sxgis.hibernate.bean.bi_n_n.Person" /> -->
		<!--<mapping class="com.sxgis.hibernate.bean.bi_n_n.Address" /> -->

	</session-factory>

</hibernate-configuration>